@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
 


.hero-sections-inner .skil-list li {
    background: url('../img/sprite.png') no-repeat -1px -79px;
    font-weight: bold;
    padding: 7px 0 7px 35px;
    color: #fff;
}

.item-contact {
    background: rgba(30, 30, 30, 0.15);
    padding: 6px;
    border-radius: 100px;
    display: inline-block;
}


section.hero-sections-inner .hero-sections .contact-me-today {
    border: 0px;
    margin-bottom: 0px !important;
    padding: 10px 30px;
}

.hero-sections-inner h2 {
    color: #060;
    font-family: "Hindi", 'Merriweather', sans-serif;
    font-size: 2.4em;
    font-weight: 700;
}

.hero-sections .owl-carousel:hover .owl-nav button.owl-prev {
    opacity: 1;
}

.hero-sections .owl-carousel:hover .owl-nav button.owl-next {
    opacity: 1;


}

.hero-sections .owl-nav button.owl-prev {
    left: 0px;
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.hero-sections .owl-nav button.owl-next {
    right: 0px;
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    display: block;
    position: absolute;
    top: 50%;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.hero-sections-inner h1 {
    font-family:"Hindi", 'Merriweather', sans-serif;
    font-size: 2.4em;
    font-weight: 700;
    color: #fff;
}

.hero-sections .owl-nav.disabled {
    display: block;
}

.hero-sections {
    height: 392px;
    margin: 0 0 80px 0;
    padding: 30px 0 30px 0;
    background-size: cover!important;
    background-attachment: fixed !important;
    background-repeat: no-repeat!important;
}

.owl-carousel.owl-theme {
    margin-bottom: -50px;
}

.header-right {
    font-size: 1.25em;
    text-align: right;
    color: #999;
}

.owl-carousel.owl-theme {
    padding-left: 35px;
    padding-right: 35px;
}

.header-right a {
    text-decoration: none;
    color: #dd4632;
    cursor: default;
    font-weight: bold;
}

.header-bottom {
    margin-top: 45px;
    padding: 25px 0 25px 0;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo img {
    margin: 0 15px 0 0;
    float: left;
}

.header-logo h2 {
    font-weight: 500;
    margin-bottom: 0px;
    font-family: "Hindi", 'Merriweather', sans-serif;
    font-size: 1em;
    color: #999;
    display: inline-block;
}

.header-logo a {
  display: block;
  width: 200px;    
    text-decoration: none;
}

.select-options {
    width: 100%;
    padding: 5px;
}

/* .navbar-nav ul .current-menu-item a, .current-menu-parent a, .current_page_parent a {
    background: #e72c13;
} */

.navbar-nav ul li a:hover {
	color: #fff!important;
    background: #535353!important;
}

nav.navbar-nav {
    width: 100%;
    z-index: 499;
    position: fixed;
    top: 0;
}

nav.navbar-nav ul {
    display: flex;
}

.navbar-nav ul li a {
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
    display: block;
    height: 40px;
    padding: 8px 15px 0 15px!important;
}

.navbar-nav ul li {
    line-height: 1.4em;
    background: url('../img/imheader.png') 0 0 no-repeat;
    text-align: center;
    position: relative;
}

.navbar-nav {
    background: #303030;
    height: 45px;
    border-bottom: 5px solid #e72c13;
    margin: 0;
}

.many-box {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.many-box:hover a img {
    opacity: 0.7;
}

.many-box:hover h4 a {
    color: #c03220;
}

.many-box h4 a {
    font-family: "Hindi", 'Merriweather', sans-serif;
    font-size: 1em;
    color: #e72c13;
    text-decoration: none;
}

.many-box h4 {
    text-align: left;
    font-family:"Hindi", 'Merriweather', sans-serif;
    font-size: 1em;
}

.many-box p {
    text-align: left;
}

.features-card img:hover {
    border: 3px solid #c03220;
}

.features-card img {
    width: 100%;
    margin: 0 3px 0 3px;
    border: 3px solid #e6e6e6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.saying-box {
    background-image: url('../img/qoute.svg');
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: 0px -2px;
}

.saying-box p {
    text-align: left;
}

.saying-author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.saying-author img {
    border-radius: 100em;
    -webkit-border-radius: 100em;
    -moz-border-radius: 100em;
}

.saying-author h4 {
    font-size: 0.8em;
    color: #e72c13;
    padding: 13px 0 0 0;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
}

.saying-author p {
    font-weight: normal;
    color: #999;
    font-size: 0.8em;
    text-align: left;
    line-height: normal;

}

.skil-list li {
    font-size: 0.8em;
    color: #333;
    background: url('../img/right.svg');
    list-style: none;
    padding: 6px 0 6px 25px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0px 8px;
}

.skillsimg {
    margin: 5px 0px 20px 0;
}

.contact-me-today {
    border: 6px solid rgb(221 221 221);
    background: linear-gradient(to bottom, #FD3217 0%, #C41700 100%);
    font-size: 1.2em;
    padding: 12px 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #af5305;
    border-radius: 100px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5);
    position: relative;
    z-index: 20;
    display: inline-block;
    margin: auto;
}

.contact-me-today:hover {
    background: #C41700;
    background: -moz-linear-gradient(top, #C41700 0%, #FD3217 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C41700), color-stop(100%, #FD3217));
    background: -webkit-linear-gradient(top, #C41700 0%, #FD3217 100%);
    background: -o-linear-gradient(top, #C41700 0%, #FD3217 100%);
    background: -ms-linear-gradient(top, #C41700 0%, #FD3217 100%);
    color: #FEFEFE !important;
    text-shadow: 0 -1px 0 #AE1905;
}

.heading-all {
    margin-bottom: 30px;
}

.heading-all h2 {
    font-family:"Hindi", 'Merriweather', sans-serif;
    font-size: 1.8em;
    color: #e72c13;
}

.heading-all h3 {
    font-family:"Hindi", 'Merriweather', sans-serif;
    font-size: 1.2em;
    color: #999;
}
/* 
footer {
    background: #363b3f;
    padding: 30px 0px;
}

.footer-inner {
    background-repeat: no-repeat;
    margin: 0px 0 40px 0;
    padding: 0px 0 40px 0;
}

ul.footerlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 13px;
}

ul.footerlinks li {
    line-height: 11px;
}

ul.footerlinks a {
    color: #999;
    text-decoration: none;
    font-size: 10px;
    display: inline-block;
    text-align: center;
	padding: unset;
}

.footer-inner-inner p {
    color: #f6f6f6;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 12px;

} */

.scroll-to-top.sticky-visible {
    display: block;
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 1000;
    display: none;
}

.scroll-to-top a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    background: #b2b2b2;
    border-radius: 100%;
    transition: all 0.3s ease;
    border: 2px solid #b2b2b2;
}

.tilecompany-page-heading {
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    padding: 25px 0 25px 0;
    margin: 0 0 30px 0;
}

.tilecompany-page-heading h2 {
    font-family:"Hindi", 'Merriweather', sans-serif;
    font-size: 1.45em;
    color: #333;
    margin-bottom: 0px;
}

.bg-page-heading h2 {
    margin: 10px 0 15px 0;
    font-family:"Hindi", 'Merriweather', sans-serif;
    font-size: 2.4em;
    font-weight: 700;
    color: #fff;
}

.bg-tilecompany-page {
    height: auto;
    padding: 25px 0 25px 0 !important;
    margin: 0 0 30px 0;
    color: #fff;
    background-attachment: fixed !important;
    background: url('../img/bg_banner_10.jpg') no-repeat center top #665e5a;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.inner-content-page ul,
.inner-content-page ol {
    margin: 0 0 20px 0;
}

.inner-content-page ol li,
.inner-content-page ul li {
    list-style: disc;
    padding: 3px 0 3px 0;
    font-size: 0.8em;
    margin: 0 0 0 15px;
}

.inner-content-page h2 {
    font-family:"Hindi", 'Merriweather', sans-serif;
    font-size: 1.6em;
    color: #333;
    margin: 0 0 15px 0;
    line-height: 1.2;
}

.inner-content-page p a:hover {
    color: #c03220;
}

.inner-content-page p a {
    color: #e72c13;
    text-decoration: none;
}

.contact-outer {
    background: #f8f8f8;
    padding: 20px !important;
    margin: 0 0 20px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    clear: both;
}

.lisitng-outerbox:last-child {
    border-bottom: 0px;
    margin: 0 0 0px 0;
    padding: 0 0 0px 0;
}

.lisitng-outerbox {
    margin: 0 0 35px 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

.autor-infor i {}

.autor-infor i {
    margin-right: 5px;
    font-size: 12px;
}

.continue-reading {
    font-size: 0.8em;
    color: #e72c13;
}

.continue-reading:hover {
    color: #c03220;
}

span.by-autor, span.by-date, span.by-comments {
    margin-right: 12px;
}

.autor-infor a, span.by-autor, span.by-date, span.by-comments,
.autor-infor p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #999;
    margin-bottom: 0px;
    font-weight: normal;
}

.autor-infor {
    margin: 2px 0 20px 0;
}

abbr {
    text-decoration: underline dotted;
}

.lisitng-outerbox h2 a {
    color: #e72c13;
    text-decoration: none;
    font-family:"Hindi", 'Merriweather', sans-serif;
}

.lisitng-outerbox h2 {
    font-family:"Hindi", 'Merriweather', sans-serif;
    font-size: 1.6em;
    color: #333;
    margin: 0 0 0px 0;
}

.search-inputs {
    position: relative;
}

.search-inputs input {
    height: 30px;
    padding: 5px;
    display: block;
    width: 100%;
    font-size: 0.8em;
    color: #999;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 1px #f1f1f1;
    -moz-box-shadow: 0 1px 1px #f1f1f1;
    -webkit-box-shadow: 0 1px 1px #f1f1f1;
    padding-right: 35px;
}

.search-inputs button {
    height: 20px;
    width: 30px;
    margin: 5px 0 0 0;
    padding: 0 0 0 5px;
    cursor: pointer;
    border: 0px;
    border-left: 1px solid #e5e5e5;
    font-size: 12px;
    color: #999;
    background: transparent;
    position: absolute;
    right: 5px;
    top: 0px;
}

.recent-serch-list ul li i {
    font-size: 0.8em;
    color: #999;
}

.recent-serch-list ul li {
    line-height: 1.1em;
    display: flex;
    gap: 5px;
    align-items: baseline;
    margin: 0 0 10px 0;
}

.recent-serch-list a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #333;
}

.recent-serch-list a:hover {
    color: #dd4631;
}
.single-post section.blog-listing{
    margin-top: 25px;
}
.single-post  section.blog-listing p span{
    font-weight: 400;
}
.single-post  section.blog-listing ul li {
        font-size: 0.8em;
}
.single-post  section.blog-listing ul li {
    list-style: disc;
    padding: 3px 0 3px 0;
    margin: 0 0 0 15px;
}
.single-post  section.blog-listing ul{}
.single-post  section.blog-listing p span a {
    text-decoration: underline;
    color: #e72c13;
}
.single-post  section.blog-listing p  a {
    text-decoration: underline;
    color: #e72c13;
}
section.blog-listing  h3 b {
font-family:"Hindi", 'Merriweather',sans-serif;}
section.blog-listing  h3 {
    font-family: 'Merriweather',sans-serif;
    font-size: 1.2em;
    color: #333;
}
.archives-serch-list li::before {
    position: absolute;
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    content: "\f054";
    font-size: 0.8em;
    left: 0px;
    top: 12px;
    color: #e5e5e5;
}

.archives-serch-list li {
    color: #333;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding: 7px 0 7px 16px;
}

.archives-serch-list li a {
    font-size: 0.8em;
    color: #333;
}

.recent-serch-list h3,
.archives-serch-list h3 {
    font-family: "Hindi",'Merriweather', sans-serif;
    font-size: 1.1em;
    color: #333;
    margin: 0 0 14px 0;
}
.wpcf7-form-control-wrap{
    margin-top: 8px;
    display: block;
}
.contact-outer label, .modal-poup-contactform label{
    width: 100%;
}
.wpcf7-form-control-wrap textarea,
.wpcf7-form-control-wrap input{
    display: block;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 8px;
    clear: both;
    border-radius: 5px;
}
input.wpcf7-form-control.wpcf7-submit {
    background: #dd4631;
    color: #fff;
    width: 180px;
    cursor: pointer;
    box-shadow: 0 1px 1px #f1f1f1;
    -moz-box-shadow: 0 1px 1px #f1f1f1;
    -webkit-box-shadow: 0 1px 1px #f1f1f1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border: none !important;
    border-radius: 5px;
    padding: 8px;
    margin: 5px 0 0 0;
}
input.wpcf7-form-control.wpcf7-submit:hover {
    background: #303030;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.modal button.btn-close{
    position: absolute;
    top: 8px;
    right: 11px;
    background: no-repeat;
    opacity: 1;
}
.modal button.btn-close i{
    font-size: 22px;
    line-height: .5;
    color: #aaa;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
    font-weight: bold;
    cursor: pointer;
    font-weight: 500;
    background: no-repeat;
    opacity: 1;
}
.modal-poup-contactform  input{
    padding: 6px;
}
.modal-poup-contactform  textarea{
height: 60px;
}